html, body {
    height: 100%;
}

.container {
    height: 100%;
    width: 80%;
}

.room {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
}

.sidebar-section {
    width: 25%;
    min-height: 100%;
    padding: 0.5em;
    /* text-align: center; */
}

.logo {
    margin: 1em;
    text-align: center;
}

.room-name {
    margin: 1em;
    padding-left: 2em;
}

.users {
    margin: 0.5em;
    height: 75%;
    overflow-y: scroll;
}

.room-name a {
    display: inline-block;
}

.chat-section {
    width: 70%;
    min-height: 100%; 
    /* display: flex;   
    flex-direction: column;
    justify-content: space-between; */
}

.chat-messages {
    /* margin: 1em; */
    height: 75%;
    margin-top: 2em;
    /* max-height: 600px; */
}

.message-list {
    height: 100%;
    overflow-y: auto;
}

.chat-input {
    height: 15%;
    margin: 1em 0;
    padding: 0;
}

.message-form {
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding: 0.4em;
}

.nickname-box {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.msg-box {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-send-box {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#msg {
    padding: 0.2em;
    margin: 0.3em;
    height: 85%;
}

.message {
    display: flex;
}

.message i {
    margin: 0.5em;
}

.-left {
    justify-content: left;
}

.-right {
    justify-content: right;
}